/* Import the font used for the website. */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*----------------------------------------*/

/* Defining the base attributes for any element on the page. */

* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

/*----------------------------------------*/

/* Animations and attributes for the top navigation bar */

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  box-shadow: 0 10px 8px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 2em;
  user-select: none;
}
.logo:hover{
  cursor: default;
  color: #65fe08;
  transition-duration: 1s;
}
.logo:not(:hover){
  cursor: default;
  color: white;
  transition-duration: 1s;
}
.navigation a{
  text-decoration: none;
  position: relative;
  font-size: 1.2em;
  margin-left: 2.5em;
}
.navigation a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.3em;
  width: 0;
  height: 0.15em;
  border-radius: 0.4em;
  background-color: white;
  transition: 0.3s ease-in-out; 
  pointer-events: none; 
}
.navigation a:hover::after, .navigation a:focus::after {
  width: 100%;
}
.navigation #loginBtn {
  font-size: 1.2em;
  width: 5.5em;
  height: 2.5em;
  background: transparent;
  border: 0.15em solid;
  outline: none;
  border-radius: 0.4em;
  cursor: pointer;
  margin-left: 2.5em;
}
.navigation #loginBtn:hover{
  background-color: white;
  border-color: white;
  color: black;
  transition: 0.5s;
}
.navigation #loginBtn:not(:hover){
  background-color: black;
  color: white;
  transition-duration: 0.5s;
}


/*----------------------------------------*/

/* Designing the login form */

.wrapper{
  position: fixed;
  top: 10em;
  width: 25em;
  height: 35em;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  border: 0.15em white solid;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.loginForm{
  width: 100%;
  padding: 4em;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.loginForm *{
  background: transparent;
}
.loginForm h2{
  font-size: 2em;
}
.inputBox{
  position: relative;
  width: 100%;
  height: 3em;
  border-bottom: 0.1em solid white;
  margin: 30px 0;
}
.inputBox label{
  position: absolute;
  top: 50%;
  left: 0.1em;
  transform: translateY(-50%);
  pointer-events: none;
  transition-duration: 0.5s;
}
.inputBox input:focus~label,
.inputBox input:valid~label{
  top: 0.001em;
}
.inputBox input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1em;
  padding: 0.1em 1.5em 0 0;
}
.inputBox .icon{
  position: absolute;
  right: 0.1em;
  top: 0.6em;
  font-size: 1.2em;
}
.rememberForgot{
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin: -1.2em 0 2em 0;
}
.rememberForgot label input{
  accent-color: white;
  margin-right: 0.3em;
}
.rememberForgot a{
  text-decoration: none;
}
.rememberForgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  margin-bottom: 1.5em;
  padding: 1em;
  border: white solid 0.175em;
  border-radius: 1em;
  cursor: pointer;
  transition-duration: 0.5s;
}
.btn:hover{
  background: white;
  color: black;
}
.loginRegister{
}
/*----------------------------------------*/

/* Desiging the contents of the landing page*/

.landingPagePlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.landingPagePlaceholder #text1{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  bottom: 1.3em;
}
.landingPagePlaceholder #text2{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}
.landingPagePlaceholder #text3{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  top: 14em;
  z-index: 5;
}
.landingPagePlaceholder #text4{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  top: 15em;
  z-index: 5;
}

/* Animating the 'FREE' text to change color when hovering and vice versa. */

.landingPagePlaceholder #text4:hover{
  cursor: default;
  color: #65fe08;
  transition-duration: 1s;
}
.landingPagePlaceholder #text4:not(:hover){
  cursor: default;
  color: white;
  transition-duration: 1s;
}

/*----------------------------------------*/

.landingPagePlaceholder img{
  width: 80%;
  filter: grayscale(100%) brightness(50%);
  margin-left: auto;
  margin-right: auto;
  margin: 5em;
  position: relative;
  top: 5em;
  border-radius: 1em;
}

/*----------------------------------------*/