body {
  font-family: Helvetica;
  font-weight: 100;
  background-color: lightgrey;
  margin: 0;
}

.name {
  background-color: black;
  padding: 20px 0 20px 20px;
}
.name a{
  font-size: 40px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}
.menubar {
  background-color: rgba(105, 102, 102, 0.5);
  backdrop-filter: blur(10px);
  overflow: hidden;
  text-align: right;
}

.menubar ul{
  list-style: none;
}

.menubar li{
  display: inline;
}

.menubar a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 10px
}

.placeholder {
  line-height: 1.4em;
  text-align: center;
  width: 50%;
  margin: 10px auto 10px auto;
}