@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.landingPagePlaceholder {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.landingPagePlaceholder #text1{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  bottom: 1.3em;
}

.landingPagePlaceholder #text2{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  z-index: 5;
}

.landingPagePlaceholder #text3{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  top: 14em;
  z-index: 5;
}

.landingPagePlaceholder #text4{
  font-size: 10em;
  background-color: transparent;
  position: absolute;
  top: 15em;
  z-index: 5;
}

.landingPagePlaceholder #text4:hover{
  cursor: default;
  color: #afeeee;
  transition-duration: 1s;
}

.landingPagePlaceholder #text4:not(:hover){
  cursor: default;
  color: white;
  transition-duration: 1s;
}

.landingPagePlaceholder img{
  width: 80%;
  filter: grayscale(100%) brightness(50%);
  margin: 5em;
  position: relative;
  top: 5em;
  border-radius: 1em;
}
