{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}~ register{% endblock %}
{% block style %}{% static 'register/styles/register.css' %}{% endblock %}
{% block content %}
<div class="wrapper">
    <form method="post" action="{% url 'registerpage' %}">
        {% csrf_token %}
        <h1>Registration</h1>
        <div class="inputbox">
            <div class="inputfield">
                <input type="text" name="{{ form.username.name }}" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="inputfield">
                <input type="text" name="{{ form.first_name.name }}" placeholder="Forename" required>
                <i class='bx bxs-user'></i>
            </div>
        </div>
        <div class="inputbox">
            <div class="inputfield">
                <input type="email" name="{{ form.email.name }}" placeholder="Email" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="inputfield">
                <input type="text" name="{{ form.last_name.name }}" placeholder="Surname" required>
                <i class='bx bxs-user'></i>
            </div>
        </div>
        <div class="inputbox">
            <div class="inputfield">
                <input type="password" name="{{ form.password1.name }}" placeholder="Password" required>
                <i class='bx bxs-key'></i>
            </div>
            <div class="inputfield">
                <input type="password" name="{{ form.password2.name }}" placeholder="Confirm Password" required>
                {% if form.password2.errors %}
                    <div class="error-message">{{ form.password2.errors.as_text }}</div>
                {% endif %}
                <i class='bx bxs-key'></i>
            </div>
        </div>
        <label>Already have an account? <a href="../login">Login</a></label>
        <button type="submit" class="button">Register</button>
    </form>
</div>
{% endblock %}