@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: black;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(255, 255, 255, 0.07);
    padding: 6px 14px;
    transition: .5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo-content .logo{
    display: flex;
    align-items: center;
    color: white;
    height: 50px;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.sidebar.active .logo-content .logo{
    transition-delay: .1s;
    opacity: 1;
}

.logo-content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo h3{
    font-size: 20px;
}

.sidebar #button{
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar.active #button{
    left: 90%;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    margin: 5px 0;
    line-height: 50px;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: .1s ease;
}

.sidebar ul li a:hover{
    background: rgba(255, 255, 255, .1);
}

.sidebar ul .list-item.active a{
    background: #afeeee;
    color: black;
}

.sidebar ul li i{
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .links-name{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.sidebar.active .links-name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .list-logout{
    position: absolute;
    bottom: 0;
    margin: 15px 0;
    width: 82%;
}

.sidebar.active .list-logout{
    width: 89%;
}

.sidebar ul li .tooltip{
    position: absolute;
    top: 0;
    left: 130px;
    transform: translate(-50%,-50%);
    width: 122px;
    height: 35px;
    background: #afeeee;
    color: black;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 35px;
    pointer-events: none;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    transition: .5s ease;
    top: 50%;
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.logo-content a{
    text-decoration: none;
}

.content-wrapper.active{
    margin-left: 290px;
    margin-top: 50px;
}

.content-wrapper{
    margin-left: 130px;
    margin-top: 50px;
    transition: .5s ease;
}
