{% extends "accounts/base.html" %}
{% load static %}
{% block title %}welcome to europa!{% endblock %}
{% block style %}{% static 'index/styles/index.css' %}{% endblock %}
{% block content %}
<div class="landingPagePlaceholder">
    <img src='{% static 'index/img/gymstockimage.jpg' %}' alt="Man lifting weights">
    <h1 id="text1">exercise.</h1>
    <h1 id="text2">for</h1>
    <h1 id="text3">FREE.</h1>
    <img src='{% static 'index/img/gymstockimage2.jpg' %}' alt="Rack of weights">
</div>
{% endblock %}