<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dashboard/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <link href='{% block icon %}https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css{% endblock %}' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <i class='bx bxs-planet'></i>
                <h3>europa</h3>
            </div>
            <i class='bx bx-menu' id="button" ></i>
        </div>
        <ul class="list">
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-grid-alt' ></i>
                    <span class="links-name">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
    <script src="{% block script %}{% endblock %}"></script>
</body>
</html>