<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}~ control centre{% endblock %}</title>
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
    <link href='{% block icon %}https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css{% endblock %}' rel='stylesheet'>
</head>
<body>
    <div class="sidebar active">
        <div class="logo-content">
            <a href="/">
                <div class="logo">
                    <i class='bx bxs-planet'></i>
                    <h3>europa</h3>
                </div>
            </a>
            <i class='bx bx-menu' id="button"></i>
        </div>
        <ul class="list">
            <li class="list-item {% if request.path == '/dashboard/home/' %}active{% endif %}">
                <a href="/dashboard/home">
                    <i class="bx bx-home"></i>
                    <span class="links-name">Home</span>
                    <span class="tooltip">Home</span>
                </a>
            </li>
            <li class="list-item {% if request.path == '/dashboard/workout/' %}active{% endif %}">
                <a href="#">
                    <i class='bx bx-dumbbell'></i>
                    <span class="links-name">Workout</span>
                    <span class="tooltip">Workout</span>
                </a>
            </li>
            <li class="list-item {% if request.path == '/dashboard/history/' %}active{% endif %}">
                <a href="#">
                    <i class='bx bx-calendar'></i>
                    <span class="links-name">History</span>
                    <span class="tooltip">History</span>
                </a>
            </li>
            <li class="list-item {% if request.path == '/dashboard/templates/' %}active{% endif %}">
                <a href="#">
                    <i class='bx bx-copy'></i>
                    <span class="links-name">Templates</span>
                    <span class="tooltip">Templates</span>
                </a>
            </li>
            <li class="list-item {% if request.path == '/dashboard/create/' %}active{% endif %}">
                <a href="/dashboard/create/">
                    <i class='bx bx-archive'></i>
                    <span class="links-name">Exercise Bank</span>
                    <span class="tooltip">Exercise Bank</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links-name">Settings</span>
                    <span class="tooltip">Settings</span>
                </a>
            </li>
        </ul>
        <ul class="list-logout">
            <li class="list-logout">
                <a href="{% url 'logout' %}">
                    <i class='bx bx-log-out'></i>
                    <span class="links-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    <script src="{% block script %}{% endblock %}"></script>
</body>
</html>