{% extends "accounts/base.html" %}
{% load static %}
{% block title %}~ login{% endblock %}
{% block style %}{% static 'login/styles/login.css' %}{% endblock %}
{% block content %}
<body>
<div class="wrapper">
    <form method="post" action="{% url 'loginpage' %}">
        {% csrf_token %}
        <h1>Login</h1>
        <div class="inputbox">
            <input type="text" name="username" placeholder="Username" {% if form.username.value %} value="{{ form.username.value }}" {% endif %} required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="inputbox">
            <input type="password" name="password" placeholder="Password" {% if form.password.value %} value="{{ form.password.value }}" {% endif %} required>
            <i class='bx bxs-key'></i>
        </div>
        {% if form.errors %}
        <div class="error-message">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="rememberForgot">
            <label><input type="checkbox"> Remember me?</label>
            <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" class="button">Login</button>
        <div class="registerLink">
            <p>Don't have an account? <a href="../register">Register</a></p>
        </div>
    </form>
</div>
</body>
{% endblock %}
